@import url(./layout/header.css);
@import url(./layout/footer.css);
@import url(./const.color.css);
@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--main);
}

div#root {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header.color {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--header);
  transition: 0.2s ease;
}

.main-content {
  max-width: 1440px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", serif;
  flex-direction: column;
  transition: 0.2s ease;
}

footer.color {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--footer);
  transition: 0.2s ease;
}

.link {
  font-weight: 300;
  position: relative;
  text-decoration: none;
  transition: 0.1s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &:active {
    color: #61DAFB;
  }

  &:active::after {
    width: 100%;
    background-color: #61DAFB;
  }
}

.on-this {
  color: #61DAFB;
  &::after {
    width: 0 !important;
  }
}

.this {
  color: #ff8132;

  &::after {
    width: 100%;
    background: #ff6200;
  }
}

.link-img {
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  & img {
    display: flex;
  }

  &:hover {
    scale: 1.025;
    opacity: 0.8;
  }

  &:active {
    scale: 0.975;
    opacity: 0.5;
  }
}

.back-link {
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(2rem, 1.3723rem + 2.9197vw, 4rem);
  height: clamp(2rem, 1.3723rem + 2.9197vw, 4rem);
  background-image: url(../assets/icon/other/back-arrow_ico.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    scale: 0.975;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-track);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 25px;
  border: 1px solid var(--scroll-track);
}