.SavedPage {
  --margin-top-clamp: clamp(2rem, 1.6861rem + 1.4599vw, 3rem);
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid whitesmoke;
  overflow-y: auto;

  & .back-link {
    z-index: 2;
  }

  & .back-link::before {
    position: absolute;
    content: "На главную";
    right: -255%;
    z-index: -1;
  }

  & .main__content {
    width: 100%;
    display: flex;
    margin-top: calc(var(--margin-top-clamp) + 10px);
    flex-wrap: wrap;
    gap: 15px;
    padding: 5px;

    & .card-video {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.3s all ease;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000080;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        transition: 0.3s;
      }

      &:hover::before {
        background: transparent;
        backdrop-filter: blur(0px);
      }

      &:hover {
        & .content-card-video-prehover {
          display: none;
        }

        & .content-card-video-onhover {
          display: flex;
        }
      }

      & .content-card-video-onhover {
        display: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 35px;
        transition: 0.3s ease all;

        & .link-bg {
          width: auto;
          height: 48px;
          background: none;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          z-index: 1;

          & img {
            height: 48px;
          }

          &:hover {
            scale: 1.05;
          }
        }
      }

      & .content-card-video-prehover {
        text-align: center;
        display: block;
        position: relative;
        z-index: 1;
        font-weight: 600;
        transition: 0.3s all ease;
        font-size: var(--card-font-default);
      }
    }

    & .test-video {
      background-image: url(../../assets/img/saved_img.jpg);
    }
  }
}

@media screen and (max-width: 657px) {
  .SavedPage {
    & .main__content {
      justify-content: center;
    }

    & .back-link::before {
      right: -275%;
    }
  }
}